body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f5; /* Light gray background */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative; /* Add position relative to enable absolute positioning of signature */
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f6; /* White container background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: auto; /* Auto margin horizontally */
}

/* Your existing styles below this line */


.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff; /* White background for social links */
    padding: 10px;
    border-radius: 8px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.social-links a img {
    width: 40px;
    height: 40px;
}

.social-links a:hover {
    transform: scale(1.2);
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

ul, ol {
    color: #555;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#resultContainer {
    display: none;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

#prediction {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}
.signature {
    position: absolute;
    top: 20px; /* Adjust the top position based on your preference */
    right: 20px; /* Adjust the right position based on your preference */
    text-align: right;
}

.signature img {
    width: 150px; /* Adjust the width of the signature image */
    height: auto; /* Maintain the aspect ratio */
}